{
  presets: ["react-native"],
  plugins: [
    [
      "@babel/plugin-proposal-decorators",
      {
        legacy: true
      }
    ],
    [
      "@babel/transform-runtime",
      {
        helpers: true,
        polyfill: false,
        regenerator: false
      }
    ]
  ]
}
